@charset "UTF-8";
.registration__form_inner .registration__form-link, .slider_shop__link a, .intro__content--link .intro__link {
  background: #010101;
  border-radius: 40px;
  padding: 14px 44px;
  color: #FFFFFF;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4375px;
  line-height: 17px;
}

.review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: #000;
}

.registration__form_inner input::-webkit-input-placeholder {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
}

.registration__form_inner input::-moz-placeholder {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
}

.registration__form_inner input:-ms-input-placeholder {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
}

.registration__form_inner input::-ms-input-placeholder {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
}

.registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
}

.work__content-link a, .slider_shop__title, .swiper-slide__inner_content .step {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.1em;
}

h5 {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #000000;
}

h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #000000;
}

h1 {
  font-family: "Belleza";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 111px;
  color: #000000;
}

@media (max-width: 980px) {
  .review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }

  .registration__form_inner input::-webkit-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::-moz-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input:-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .work__content-link a, .slider_shop__title, .swiper-slide__inner_content .step {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }

  h5 {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #000000;
  }

  h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
  }

  h1 {
    font-size: 62px;
    line-height: 80px;
  }
}
@media (max-width: 780px) {
  .review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
    line-height: 26px;
    font-size: 28px;
  }

  .registration__form_inner input::-webkit-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::-moz-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input:-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  .work__content-link a, .slider_shop__title, .swiper-slide__inner_content .step {
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }

  h5 {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #000000;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
  }

  h1 {
    font-size: 46px;
    line-height: normal;
  }
}
@media (max-width: 580px) {
  .registration__form_inner input::-webkit-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  .registration__form_inner input::-moz-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  .registration__form_inner input:-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  .registration__form_inner input::-ms-input-placeholder {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }
  .registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
  }

  h5 {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #000000;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h1 {
    font-size: 30px;
  }

  .swiper-slide__inner_content .slide_content-text {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
  }

  .review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
    font-weight: 500;
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  .swiper-slide__inner_content .slide_content-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
  }

  .review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
    font-size: 24px;
  }

  .registration__form_inner input::-webkit-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::-moz-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input:-ms-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::-ms-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .work__content-link a, .slider_shop__title, .swiper-slide__inner_content .step {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }

  h5 {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #000000;
  }

  h2 {
    font-size: 20px;
    line-height: 25.6px;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .registration__form_inner .registration__form-link, .slider_shop__link a, .intro__content--link .intro__link {
    border-radius: 40px;
    padding: 7px 22px;
  }

  .swiper-slide__inner_content .slide_content-text {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .review_comment__text, .swiper-slide__inner_content .slide_content-text, .intro__row-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .registration__form_inner input::-webkit-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::-moz-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input:-ms-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::-ms-input-placeholder {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .registration__form_inner input::placeholder, .registration__form_inner input:focus, .work__content-description, .revies__item .revies__text, .intro__content--description {
    font-weight: 250;
    font-size: 9px;
    line-height: 11px;
  }

  .work__content-link a, .slider_shop__title, .swiper-slide__inner_content .step {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }

  h5 {
    font-family: "Aeonik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #000000;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .registration__form_inner .registration__form-link, .slider_shop__link a, .intro__content--link .intro__link {
    border-radius: 40px;
    padding: 7px 22px;
  }

  .swiper-slide__inner_content .slide_content-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
  }
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Belleza";
  src: url(../fonts/Belleza-Regular.ttf);
}
@font-face {
  font-family: "Aeonik";
  src: url(../fonts/AeonikTRIAL-Regular.otf);
  src: url(../fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: "lora";
  src: url(../fonts/Lora-Italic-VariableFont_wght.ttf);
  src: url(../fonts/Lora-VariableFont_wght.ttf);
}
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Product Sans";
}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1349px;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1349px;
}

.header {
  margin: 0 auto;
  max-width: 1339px;
  width: 100%;
  height: 93px;
  background: #FFFFFF;
}

.header__inner {
  padding: 0 10px;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul li:not(:first-child) {
  list-style: none;
  margin-left: 45px;
}
.nav ul li {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #000000;
}

.header__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tools__item:not(:first-child) {
  margin-left: 37px;
}

.intro {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.intro__content {
  width: 60%;
}
.intro__content .intro__title {
  margin-top: 82px;
  max-width: 90%;
}
.intro__content--link {
  width: 178px;
  margin-top: 40px;
}
.intro__content--text {
  max-width: 299px;
  margin-top: 80px;
  margin-left: 20px;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.intro__content--description {
  margin-top: 41px;
  margin-left: 20px;
}
.intro__content .intro__content--sponsors {
  margin-top: 65px;
  margin-left: 20px;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 52px;
}
.intro__content .intro__content--sponsors .sponsors__link:not(:first-child) {
  margin-left: 90px;
}
.intro__bg-img {
  position: relative;
  width: 50%;
  max-height: 100%;
  padding: 10px;
  margin-left: 20px;
}
.intro__bg-img img {
  width: 100%;
  max-width: 626px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: auto 0;
}

.section-intro {
  max-width: 100%;
  margin: 0 auto;
}

.intro__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 83px;
}
.intro__row-description {
  width: 45%;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 24px;
  line-height: 29px;
  padding: 0 10px;
  color: #000000;
}
.intro__row-description p {
  max-width: 518px;
}
.intro__row-text {
  width: 55%;
  padding: 0 10px;
}
.intro__row-text p {
  max-width: 626px;
}

.intro__row-text_link {
  width: 280px;
  margin-top: 66px;
  position: relative;
  cursor: pointer;
}
.intro__row-text_link a {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
}
.intro__row-text_link ::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: url(../img/Extra\ Icons.png);
  margin-left: 34px;
  margin-top: -3px;
}

.swiper {
  width: 100%;
  margin-top: 156px;
  height: 700px;
}
.swiper-wrapper {
  width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 41px;
  height: 41px;
  position: static;
  margin-top: 20px;
}

.swiper-button-next {
  content: url(../img/arrow_slider_right.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev {
  content: url(../img/arrow_slider_right.png);
}

.section__bg {
  position: relative;
}

.section__bg:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: #EDEDED;
  padding: 40px;
}

.swiper-slide__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-slide__inner .swiper-slide__inner_img img {
  width: 100%;
  max-width: 1340px;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide__inner_content {
  width: 100%;
  min-height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide__inner_content .swiper-button_box {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.swiper-slide,
.revies__text,
.review_comment__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.slider_shop {
  margin-top: 114px;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.slider_shop__description {
  margin-top: 37px;
  max-width: 526px;
}
.slider_shop__link {
  margin-top: 37px;
  margin-bottom: 32px;
}
.swiper-container {
  width: 100%;
  max-width: 1440px;
  height: 300px;
  margin: 20px 0 20px 0;
}

.card {
  max-width: 1440px;
  width: 100%;
}

.swiper-slide-container {
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  overflow: visible;
}

.gallery-top {
  height: 450px;
  width: 100%;
  outline: none;
  margin-top: 164px;
}

.swiper {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.gallery-thumbs {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 28%;
  height: 20%;
  position: relative;
}

.slider-shop__img {
  width: 368px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide__text {
  position: static;
  margin-top: 15px;
  background-color: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide__text__card {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
}

.slider_shop__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.revies {
  max-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.revies__item {
  max-width: 302px;
}
.revies__item .revies__title {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #000000;
}
.revies .star__inner {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.revies .star__item-text {
  margin-top: 5px;
}
.revies .star__text {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.revies .counter_revies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #000000;
}
.revies .counter_revies__item .counter_revies {
  margin-right: 5px;
}

.review_comment__text {
  width: 676px;
  padding: 10px;
}
.review_comment .author {
  margin-top: 60px;
}
.review_comment .author__name__text {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  color: #000000;
}
.review_comment .locations_author {
  margin-top: 11px;
}
.review_comment .locations_author_author__text {
  font-family: "Aeonik";
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.slider_shop__button {
  width: 80px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider_shop__button__adaptiv {
  display: none;
}
.slider_shop__button__item {
  width: 36px;
  height: 36px;
}

.work {
  width: 100%;
  margin-top: 55px;
  height: auto;
}
.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__item:not(:first-child) {
  margin-top: 50px;
  max-width: 1339px;
  position: relative;
  padding: 72px 0 400px 116px;
}

.work__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__gallery-item:not(:first-child) {
  margin-left: 60px;
}
.work__gallery img {
  max-width: 780px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__content-title {
  max-width: 401px;
}
.work__content-description {
  max-width: 328px;
  margin-top: 10px;
}
.work__content .work__img-bg {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 1339px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.work__content-link {
  width: 260px;
  margin-top: 9px;
  position: relative;
  cursor: pointer;
  width: 200px;
}
.work__content-link a {
  letter-spacing: 0;
}
.work__content-link ::after {
  position: absolute;
  left: 144px;
  content: url(../img/arrow_work.svg);
}

.registration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.registration__title {
  max-width: 706px;
}
.registration__form_inner .registration__form {
  width: 384px;
  margin-top: 70px;
  margin-right: 21px;
  border-bottom: 2px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 384px;
  padding: 10px 0 10px 7px;
}
.registration__form_inner input {
  width: 200px;
  outline: none;
  border: none;
}
.registration__form_inner input:focus {
  padding: 20px 0 0 0;
}
.footer {
  margin-top: 67px;
  width: 100%;
  background: #F3F3F3;
}

.footer__inner {
  padding: 80px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul li:not(:first-child) {
  list-style: none;
  margin-left: 45px;
}
.nav ul li {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.footer__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tools__img {
  width: 22px;
  height: 22px;
}

.tools__item:not(:first-child) {
  margin-left: 37px;
}

@media (max-width: 980px) {
  .intro__content {
    width: 45%;
    max-width: none;
  }

  .intro__bg-img {
    width: 55%;
  }
  .intro__bg-img img {
    -o-object-position: 0 -15px;
       object-position: 0 -15px;
  }

  .intro__title {
    margin-top: 0px;
    max-width: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro__title,
.intro__content {
    margin-top: 0 !important;
    padding-right: 15px !important;
  }

  .intro__row {
    margin-top: 20px;
  }

  .intro__content {
    width: 50%;
    padding: 0;
  }
  .intro__content .intro__title {
    width: 100%;
  }
  .intro__content--link {
    margin-top: 40px;
    margin-left: 0;
  }
  .intro__content--text {
    margin-top: 40px;
    margin-left: 0;
  }
  .intro__content--description {
    margin-top: 40px;
    margin-left: 0;
  }
  .intro__content .intro__content--sponsors {
    margin-top: 20px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .intro__content .intro__content--sponsors .sponsors__link {
    margin-right: 10px;
  }
  .intro__content .intro__content--sponsors .sponsors__link:not(:first-child) {
    margin-left: 0;
  }
  .intro__content .sponsors__link:not(:first-child) {
    margin-left: 0;
  }

  .swiper {
    height: 520px;
    margin-top: 30px;
    padding: 30px 0;
  }

  .slider_shop {
    margin-top: 50px;
  }

  .swiper-slide {
    height: 480px;
    position: relative;
  }

  .slide_img {
    height: 50%;
  }

  .gallery-thumbs {
    margin-bottom: 60px;
  }

  .slider_shop__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .slider_shop__button {
    position: absolute;
  }

  .swiper-slide__shop {
    height: auto;
  }

  .review_comment__text {
    width: auto;
    height: auto;
  }

  .review_comment {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .slider_shop__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .gallery-top {
    position: relative;
    margin-top: 10px;
  }

  .revies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .revies__item {
    max-width: none;
    text-align: center;
    padding: 5px;
  }

  .slider_shop__button {
    display: none;
  }
  .slider_shop__button__adaptiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
  }

  .author {
    position: relative;
  }

  .review_comment__text {
    text-align: center !important;
  }

  .work__item:not(:first-child) {
    padding: 72px 0 271px 116px;
  }

  .work__content-link ::after {
    position: absolute;
    left: 94px;
    content: url(../img/arrow_work.svg);
  }

  .registration {
    margin: 0;
    text-align: center;
  }

  .registration__title-item {
    padding: 25px 0px;
  }

  .footer {
    margin: 0;
  }
}
@media (max-width: 780px) {
  .nav {
    display: none;
  }

  .logo {
    max-width: 123px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .intro__content--text {
    font-size: 15px;
    line-height: 18px;
  }

  .intro__content--sponsors {
    font-weight: 900;
    font-size: 16px !important;
    line-height: 19px;
    opacity: 0.5;
  }

  .swiper {
    height: 420px;
    margin-top: 30px;
    padding: 30px 0;
  }

  .swiper-slide {
    height: 380px;
  }

  .slider_shop {
    margin-top: 30px;
  }

  .revies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .revies__item {
    max-width: 300px;
    text-align: center;
  }

  .slider_shop__description {
    float: left;
    display: inline;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 52px;
  }

  .slider_shop__link {
    float: right;
    display: inline;
  }

  .work__item:not(:first-child) {
    padding: 26px 0 195px 47px;
  }

  .work__gallery-item:not(:first-child) {
    margin-left: 30px;
  }

  .work_img {
    width: 100%;
    height: 100%;
  }

  .work__gallery-item {
    max-width: 50%;
  }

  .work {
    margin-top: 20px;
  }

  .work__item:not(:first-child) {
    margin-top: 20px;
  }

  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__registration {
    padding: 0;
  }

  .registration__form_inner,
.registration__form_inner input {
    width: 100%;
    background: #F3F3F3;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .registration__form_inner {
    padding: 0 10px;
  }

  .registration__form {
    margin-top: 0px !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 580px) {
  .intro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__row .intro__row-text_link {
    width: 100%;
    text-align: center;
    margin-top: 34px;
  }
  .intro__row-description {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .intro__row-text {
    padding: 30px;
    width: 100%;
    text-align: center;
  }

  .swiper {
    height: 400px;
  }

  .step {
    font-size: 10px;
    line-height: 8px;
  }

  .gallery-top {
    height: 500px;
  }

  .swiper-slide__text__card {
    font-size: 15px;
    line-height: 14px;
  }

  .swiper-button-next,
.swiper-button-prev {
    height: 25px;
    width: 25px;
  }

  .slider_shop {
    margin-top: 20px;
  }

  .work__item:not(:first-child) {
    padding: 36px 0 190px 13px;
  }

  .work__content {
    max-width: 70%;
  }

  .work__gallery-item:not(:first-child) {
    margin-left: 20px;
  }

  .work {
    margin-top: 30px;
  }

  .work__item:not(:first-child) {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .header__inner {
    padding: 0;
  }

  .tools__img {
    width: 15px;
    height: 15px;
  }

  .intro__bg-img {
    width: 50%;
    padding: 0;
    margin: 0px;
  }
  .intro__bg-img img {
    width: 100%;
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }

  .intro__content {
    width: 50%;
    padding: 0;
  }
  .intro__content .intro__title {
    width: 100%;
  }
  .intro__content--link {
    margin-top: 20px;
    margin-left: 0;
  }
  .intro__content--text {
    margin-top: 20px;
    margin-left: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .intro__content--description {
    margin-top: 20px;
    margin-left: 0;
  }
  .intro__content .intro__content--sponsors {
    margin-top: 20px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .intro__content .intro__content--sponsors .sponsors__link {
    margin-right: 10px;
  }
  .intro__content .intro__content--sponsors .sponsors__link:not(:first-child) {
    margin-left: 0;
  }
  .intro__content .sponsors__link:not(:first-child) {
    margin-left: 0;
  }

  .intro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__row-description {
    width: 100%;
    text-align: center;
    padding: 7.5px;
  }
  .intro__row-text {
    padding: 7.5px;
    width: 100%;
    text-align: center;
  }

  .swiper-button-next,
.swiper-button-prev {
    height: 15px;
    width: 15px;
  }

  .swiper {
    height: 400px;
    padding: 0;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .swiper-wrapper {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }

  .step {
    font-size: 7px;
    line-height: 8px;
  }

  .swiper-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .swiper-slide__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
  }
  .swiper-slide__inner_img {
    height: 289px;
  }
  .swiper-slide__inner_img img {
    width: 343px;
    height: 289px;
  }
  .swiper-slide__inner_content {
    min-height: 57px;
  }

  .step_text {
    font-size: 7px;
    line-height: 8px;
    letter-spacing: 0.1em;
  }

  .swiper-button_box {
    width: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .star__inner {
    width: 105px !important;
  }
  .star__inner .star__item-text {
    margin: 0px;
  }
  .star__inner .star__text {
    font-size: 7px;
  }
  .star__inner .star__img {
    width: 15px;
    height: 15px;
  }

  .section__bg:before {
    content: "";
    position: absolute;
    bottom: 47px;
    width: 100%;
    height: 60%;
    background: #EDEDED;
    padding: 40px;
  }

  .gallery-thumbs .swiper-slide {
    width: 58%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery-thumbs {
    margin-top: 0;
  }

  .slider_shop {
    margin-top: 20px;
  }

  .work__item:not(:first-child) {
    padding: 30px 0 108px 17px;
  }

  .work__gallery-item:not(:first-child) {
    margin-left: 16px;
  }

  .work {
    margin-top: 40px;
  }

  .work__item:not(:first-child) {
    margin-top: 14px;
  }
}
@media (max-width: 360px) {
  .logo {
    width: 90px;
    height: auto;
  }

  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__title {
    padding: 0px !important;
  }
  .intro__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__content--link {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  .intro__content--text {
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
  }
  .intro__content--description {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }
  .intro__content .intro__content--sponsors {
    width: 100%;
    margin-bottom: 0;
  }
  .intro__bg-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .intro__bg-img img {
    width: 100%;
    height: 100%;
  }

  .intro__row-description {
    font-weight: 250;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
  }

  .intro__row-text,
.intro__row-description {
    padding: 7.5px 0;
  }

  .intro__row-text_link a {
    font-size: 12px;
    line-height: 14px;
  }
  .intro__row-text_link ::after {
    width: 24px;
    height: 24px;
    content: url(../img/arrow__link-mobile.png);
  }

  .slide_content-text {
    width: 150px;
    text-align: center;
  }

  .swiper-slide__inner_content {
    padding: 5px;
  }

  .slider_shop__description {
    display: block;
    float: none;
    width: 100%;
  }

  .slider_shop__link {
    display: block;
    float: none;
  }

  .work {
    margin-top: 43px;
  }

  .work__item:not(:first-child) {
    padding: 16px 0 71px 15px;
  }
}